:root {
  --main-bg: #f4f4f4;
  --secondary-bg: #ffffff;
  --table-cell-bg: #efefef;
  --popup-checkmark-bg: var(--table-cell-bg);
  --heading-font: "Futura PT Book", sans-serif;
  --heading-font-bold: "Futura PT Bold", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --tertiary-font: "Galdeano", sans-serif;
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 15px;
  --font-size-m: 16px;
  --font-size-l: 17px;
  --font-size-xl: 32px;
  --font-weight-light: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 600;
  --font-weight-extra-bold: 700;
  --sidebar-border-color: var(--main-bg);
  --popup-input-border-color: #e1e1e1;
  --popup-input-bg: #f5f5f5;
  --primary-text-color: #172139;
  --accent-text-color: #ff6600;
  --accent-text-color-hover: #ff5959;
  --heading-text-color: #000000;
  --tertiary-text-color: #aeaeae;
  --footer-text-color: #a5a5a5;
  --btn-hover: var(--primary-text-color);
  --text-hover: var(--main-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
@font-face {
  font-family: "Futura PT Book";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"), url("../fonts/FuturaCyrillicBook.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"), url("../fonts/FuturaCyrillicBold.woff") format("woff");
}

/*
Main Header Section
*/
.site-header {
  display: flex;
  justify-content: space-between;
  height: 79px;
  align-items: center;
  padding: 0 32px 0 15px;
  background-color: var(--secondary-bg);
}
.site-header__logo {
  width: 18.97px;
  height: 32.61px;
}
.site-header__logout-icon {
  width: 16px;
  height: 14px;
}
/*
Main Content Sections
*/
.main-content {
  background-color: var(--main-bg);
  padding: 30px 30px 0 0;
  display: flex;
}
/*
Sidebar section 
*/
.sidebar {
  background-color: var(--secondary-bg);
  width: 290px;
  height: 446px;
}
.sidebar__menu {
  list-style-type: none;
  padding: 0;
}
.sidebar__menu li:last-child {
  padding-bottom: 20px;
}
.sidebar__icon {
  padding: 0 15.5px 0 15px;
}
.sidebar__link {
  font-family: var(--heading-font);
  text-decoration: none;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-light);
  line-height: 21.79px;
  color: var(--primary-text-color);
}
.sidebar__item {
  padding: 20px 0;
  border-bottom: 1px solid var(--sidebar-border-color);
  transition: all 0.3s ease;
}

.sidebar__item.active {
  background-color: var(--btn-hover);
}

.sidebar__item.active .sidebar__link {
  color: var(--text-hover);
}

.sidebar__toggle {
  border-top: 1px solid var(--sidebar-border-color);
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 21px;
}
.sidebar__toggle-text {
  font-family: var(--heading-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-l);
  color: var(--accent-text-color);
  padding-left: 14.5px;
  line-height: 21.79px;
  padding-right: 26px;
}
/*
Localisation section 
*/
.localisation {
  padding-left: 30px;
  flex-grow: 1;
}

.main-content .section {
  display: none;
}

.main-content .section.active {
  display: flex;
  flex-direction: column;
}

.localisation__title,
.settings__title {
  font-family: var(--heading-font);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bolder);
  color: var(--heading-text-color);
  display: flex;
  align-items: center;
  height: 32px;
}
.localisation__separator,
.settings__separator {
  font-family: var(--heading-font-bold);
  font-weight: var(--font-weight-light);
  color: var(--heading-text-color);
  display: inline-block;
  /* transform: rotate(18deg); */
  padding: 0 8px;
  font-size: 32px;
}

.localisation__menu,
.settings__menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  padding: 25px 0 31px 0;
}

.localisation__menu li:first-child {
  width: 140px;
}
.localisation__menu li:last-child {
  width: 130px;
}
.localisation__menu li:nth-child(2) {
  width: 165px;
}
.localisation__item,
.settings__item {
  font-family: var(--heading-font);
  color: var(--primary-text-color);
  font-size: var(--font-size-xs);
  line-height: 17.95px;
  font-weight: var(--font-weight-bold);
  font-weight: bold;
  padding: 9.5px 0;
  background-color: var(--secondary-bg);
  margin-right: 19px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.localisation__item.active,
.settings__item.active {
  background-color: var(--btn-hover);
  color: var(--text-hover);
}
.localisation__item span {
  display: inline-block;
  transform: rotate(5deg);
  padding: 0 2px;
}
.localisation__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-title,
.subdivision-title,
.nested-subdivision-title {
  font-family: var(--heading-font);
  font-size: var(--font-size-s);
}

.location-title,
.subdivision-title {
  font-weight: var(--font-weight-bolder);
}
.nested-subdivision-title {
  font-weight: var(--font-weight-extra-bold);
  opacity: 0.8;
}

.btn {
  background-color: var(--btn-hover);
  color: var(--text-hover);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: var(--font-size-xs);
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.btn-sync {
  width: 336px;
  font-weight: bold;
}
.btn.btn-sync img,
.btn.btn-create img,
.btn.btn-add-table-field img,
.btn.btn-save-footer img,
.btn.btn-popup-create img,
.btn.btn-popup-modify-cancel img,
.btn.btn-popup-modify-save img {
  padding-right: 10px;
}
.btn.btn-sync span {
  font-size: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
}
.btn-create {
  width: 286px;
  font-weight: inherit;
}
.localisation__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.localisation__search {
  display: flex;
  align-items: center;
}
.localisation__search-option {
  display: flex;
}
.localisation__search-option img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.localisation__search-text {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  color: var(--heading-text-color);
  padding-right: 25px;
}
.search-input {
  width: 300px;
  height: 50px;
  background-color: var(--secondary-bg);
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-xs);
  background-color: var(--secondary-bg);
  background-image: url("../assets/search_icon.png");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 40px;
}
.search-input::placeholder {
  font-family: var(--heading-font);
  font-weight: bold;
  opacity: 0.5;
  color: var(--tertiary-text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*
Popup Form
*/

.localisation__popup {
  display: none;
  width: 440px;
  height: 504px;
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-90%, -50%);
  background-color: white;
  padding: 25px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#popup {
  z-index: 1001;
}

#modifyPopup {
  z-index: 1020;

  top: 56%;
  margin-left: 40px;
  transform: translate(10%, -50%);
  width: 440px;
  height: 655px;
}
#modifyPopup .form-group.modify {
  flex-direction: row;
  height: 50px;
}
#modifyPopup .form-group {
  display: flex;
  flex-direction: column;
  height: 72px;
}
#modifyPopup .form-group.test {
  height: auto;
  margin-bottom: 0;
}
#modifyPopup .form-group label {
  font-family: var(--heading-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  color: var(--primary-text-color);
  padding-bottom: 1px;
}
#modifyPopup .form-group .custom-radio.style {
  font-family: var(--tertiary-font);
  height: 28px;
}
.localisation__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-text-color);
  z-index: 999;
  opacity: 50%;
}

.form-group {
  margin-bottom: 17px;
  height: 50px;
  position: relative;
}
#input1,
#input2,
#input3,
#input4,
#input5,
#input6,
#input7,
#input8 {
  width: 100%;
  height: 100%;
  border: 1px solid var(--popup-input-border-color);
  border-radius: 5px;
  background-color: var(--popup-input-bg);
  padding-left: 25px;
  font-family: var(--tertiary-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  color: var(--tertiary-text-color);
  cursor: pointer;
}

#input5,
#input6,
#input7,
#input8 {
  color: var(--primary-text-color);
}
.localisation__popup h2 {
  padding-bottom: 17px;
  text-align: center;
  font-family: var(--heading-font);
  font-weight: var(--font-weight-bolder);
  font-size: 24px;
  color: var(--heading-text-color);
}
#input4 {
  background-image: url("../assets/arrow_expand_icon.png");
  background-repeat: no-repeat;
  background-size: 10px 7px;
  background-position: right 31px center;
  position: relative;
}

/*
Nested elements in input4 
*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--popup-input-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  font-family: var(--tertiary-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  color: var(--tertiary-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: var(--popup-input-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item:hover .sub-dropdown-content {
  display: block;
}

.sub-dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--tertiary-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  color: var(--tertiary-text-color);
}

.sub-dropdown-item:hover {
  background-color: #ddd;
}

/* 
Radio buttons 
*/
.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  user-select: none;
  height: 28px;
  margin: 0px 7.5px 17px 7.5px;
  font-family: var(--tertiary-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-m);
  color: var(--primary-text-color);
}
.custom-radio.option2 {
  height: 28px;
  margin-bottom: 17px;
}
/*  
Custom checkmark 
*/
.custom-radio .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 28px;
  background: url("../assets/radio_icon.png") no-repeat center center;
  background-size: contain;
}

.btn-popup-create {
  width: 193px;
  height: 50px;
}
.btn-popup-cancel {
  width: 151px;
  margin-left: 17px;
}

.btn-popup-modify-cancel {
  width: 195px;
}

.btn-popup-modify-cancel,
.btn-popup-cancel {
  font-family: var(--heading-font);
  color: var(--primary-text-color);
  font-size: var(--font-size-xs);
  background-color: var(--secondary-bg);
  border: 1px solid var(--primary-text-color);
}
.btn-popup-modify-save {
  width: 100%;
}
.controls {
  display: flex;
  position: absolute;
  bottom: 5px;
}

/*
Custom dropdown Section
*/
.custom-select-wrapper {
  padding-top: 44px;
}
.custom-option {
  display: flex;
  align-items: center;
}
.icon-close {
  width: 20px;
  height: 20px;
}

.icon-deco {
  width: 4px;
  height: 16px;
  margin: 0 15px;
}

.control-button {
  display: flex;
  align-items: center;
}
.icon-change {
  width: 12px;
  height: 12px;
}
.icon-delete {
  width: 10px;
  height: 10px;
}
.location-number,
.subdivision-number,
.nested-subdivision-number {
  margin: 0 30px;
}
.location-number,
.btn-text,
.subdivision-number,
.nested-subdivision-number {
  font-family: var(--secondary-font);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
  color: var(--accent-text-color);
}

.btn-text {
  margin: 0 20px 0 5px;
  cursor: pointer;
}
.btn-text:hover {
  color: var(--accent-text-color-hover);
  font-weight: var(--font-weight-bold);
}

.nested {
  margin: 18px 0 18px 44px;
  flex-wrap: wrap;
}
.purpose,
.type,
.barcode-status {
  font-family: var(--secondary-font);
  font-size: var(--font-size-xs);

  color: var(--heading-text-color);
}
.purpose,
.type {
  font-weight: var(--font-weight-light);
}

.barcode-status {
  padding-left: 30px;
  font-weight: var(--font-weight-extra-bold);
}
.nested-subdivision {
  width: 100%;
  display: flex;
  margin: 18px 0 0 44px;
}

.custom-select-wrapper .custom-options .custom-option.group:nth-last-of-type(2) {
  margin-bottom: 18px;
}

/*
Settings Section
*/
.settings {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.settings__table-cell {
  padding: 0;
  margin: 0;
}
.settings__item:nth-child(1) {
  width: 140px;
}
.settings__item:nth-child(2) {
  width: 178px;
}
.settings__item:nth-child(3) {
  width: 160px;
}
.settings__item:nth-child(4),
.settings__item:nth-child(5),
.settings__item:nth-child(6),
.settings__item:nth-child(7) {
  width: 132px;
}
.settings__menu {
  flex-wrap: wrap;
}

/*
Table 
*/
.settings__table {
  padding-top: 28px;
  border-collapse: collapse;
  margin-bottom: 18px;
}
.settings__table-cell--name,
.settings__table-cell--price,
.settings__table-cell--mol,
.settings__table-cell--photo,
.settings__table-cell--color,
.settings__table-cell--location,
.settings__table-cell--quantity,
.settings__table-cell--description-2,
.settings__table-cell--quantity-2 {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 30px;
}

.settings__table-cell--name p,
.settings__table-cell--price p,
.settings__table-cell--mol p,
.settings__table-cell--photo p,
.settings__table-cell--color p,
.settings__table-cell--location p,
.settings__table-cell--quantity p,
.settings__table-cell--description-2 p,
.settings__table-cell--quantity-2 p {
  padding: 0 10px;
}

.settings__table-cell--description,
.settings__table-cell--sorting,
.settings__table-cell--id,
.settings__table-cell--field-type,
.settings__table-cell--display-in-table,
.settings__table-cell--mandatory,
.settings__table-cell--delete {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-light);
  font-size: 13px;
  text-align: start;
  padding-left: 9px;
}

.settings__table-cell--description {
  width: 104px;
}
.settings__table-cell--sorting {
  width: 173px;
}

.settings__table-cell--id {
  width: 152px;
}
.settings__table-cell--field-type {
  width: 206px;
}

.settings__table-cell--display-in-table {
  width: 206px;
}
.settings__table-cell--mandatory {
  width: 168px;
}

.settings__table-cell--delete {
  width: 116px;
}

.settings__table-cell--name img:nth-of-type(1),
.settings__table-cell--price img:nth-of-type(1),
.settings__table-cell--mol img:nth-of-type(1),
.settings__table-cell--photo img:nth-of-type(1),
.settings__table-cell--color img:nth-of-type(1),
.settings__table-cell--location img:nth-of-type(1),
.settings__table-cell--quantity img:nth-of-type(1),
.settings__table-cell--description-2 img:nth-of-type(1),
.settings__table-cell--quantity-2 img:nth-of-type(1) {
  width: 4px;
  height: 16px;
}
.settings__table-cell--name img:nth-of-type(2),
.settings__table-cell--price img:nth-of-type(2),
.settings__table-cell--mol img:nth-of-type(2),
.settings__table-cell--photo img:nth-of-type(2),
.settings__table-cell--color img:nth-of-type(2),
.settings__table-cell--location img:nth-of-type(2),
.settings__table-cell--quantity img:nth-of-type(2),
.settings__table-cell--description-2 img:nth-of-type(2),
.settings__table-cell--quantity-2 img:nth-of-type(2) {
  width: 12px;
  height: 12px;
}
.settings__table-cell--sorting-1,
.settings__table-cell--sorting-2,
.settings__table-cell--sorting-3,
.settings__table-cell--sorting-4,
.settings__table-cell--sorting-5,
.settings__table-cell--sorting-6,
.settings__table-cell--sorting-7,
.settings__table-cell--sorting-8,
.settings__table-cell--sorting-9,
.settings__table-cell--id-1,
.settings__table-cell--id-2,
.settings__table-cell--id-3,
.settings__table-cell--id-4,
.settings__table-cell--id-5,
.settings__table-cell--id-6,
.settings__table-cell--id-7,
.settings__table-cell--field-type-1,
.settings__table-cell--field-type-2,
.settings__table-cell--field-type-3,
.settings__table-cell--field-type-4,
.settings__table-cell--field-type-5,
.settings__table-cell--field-type-6,
.settings__table-cell--field-type-7,
.settings__table-cell p {
  font-family: var(--secondary-font);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--heading-text-color);
}

.settings__table-cell--sorting-1,
.settings__table-cell--sorting-2,
.settings__table-cell--sorting-3,
.settings__table-cell--sorting-4,
.settings__table-cell--sorting-5,
.settings__table-cell--sorting-6,
.settings__table-cell--sorting-7,
.settings__table-cell--sorting-8,
.settings__table-cell--sorting-9 {
  width: 81px;
  height: 31px;
  border: 1px solid var(--table-cell-bg);
  background-color: var(--secondary-bg);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings__table-cell--field-type-3,
.settings__table-cell--field-type-6 {
  display: flex;
  align-items: center;
}

.settings__table-cell--help-icon-1 img {
  width: 24px;
  height: 24px;
  margin-left: 2px;
}

.settings__table-cell--field-type-3 img,
.settings__table-cell--field-type-6 img {
  width: 24px;
  height: 24px;
  margin-left: 6px;
}
.settings__table-cell--field-type-3,
.settings__table-cell--field-type-6 {
  padding-left: 0;
}
.settings__table-body .settings__table-row:nth-child(odd) {
  background-color: var(--secondary-bg);
  height: 60px;
}
.settings__table-body .settings__table-row:nth-child(even) {
  background-color: none;
  height: 60px;
}
.settings__table-cell {
  overflow: hidden;
}

.settings__table-row {
  height: 60px;
}

.settings__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.settings__table-cell--name,
.settings__table-cell--mol,
.settings__table-cell--color,
.settings__table-cell--quantity,
.settings__table-cell--quantity-2,
.settings__table-cell--delete-1,
.settings__table-cell--delete-3,
.settings__table-cell--delete-5,
.settings__table-cell--delete-7,
.settings__table-cell--delete-9 {
  border: 1px solid var(--secondary-bg);
  position: relative;
  background-color: transparent;
  z-index: 1;
  box-shadow: 0 0 0 1px var(--secondary-bg);
}
.settings__table-cell--name,
.settings__table-cell--mol,
.settings__table-cell--color,
.settings__table-cell--quantity,
.settings__table-cell--quantity-2 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.settings__table-cell--delete-1,
.settings__table-cell--delete-3,
.settings__table-cell--delete-5,
.settings__table-cell--delete-7,
.settings__table-cell--delete-9 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.settings__table-head {
  height: auto;
}

.settings__subheading__title {
  font-family: var(--heading-font);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bolder);
  color: var(--heading-text-color);
}

.btn-add-table-field {
  width: 255px;
  height: 50px;
  margin-bottom: 80px;
}
/*
Footer Section
*/
.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__documentation {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.footer .footer__content:first-child {
  padding-right: 30px;
}
.footer__content {
  font-family: var(--secondary-font);
  font-size: var(--font-size-xxs);
  color: var(--footer-text-color);
}
.footer__text {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  color: var(--accent-text-color);
  margin: 0 30px 0 7px;
  position: relative;
}

.footer__text::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 1.5px solid var(--accent-text-color);
}
.btn-save-footer,
.btn-cancel-footer {
  width: 198.42px;
  height: 50px;
}
.btn-cancel-footer {
  background-color: var(--secondary-bg);
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  margin-left: 20px;
}
